fastapi==0.115.0
uvicorn[standard]==0.30.0
python-multipart==0.0.9
PyJWT[crypto]==2.9.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
loguru==0.7.2
slowapi==0.1.9
pydantic-settings==2.3.0
polars==1.38.1
xlsx2csv==0.8.2
openpyxl==3.1.2
fastexcel==0.11.1
pyarrow==15.0.0
pandas==2.2.2
google-generativeai==0.8.3
scikit-learn==1.5.0
sqlalchemy==2.0.30
alembic==1.13.1
asyncpg==0.29.0
aiosqlite==0.20.0